{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}
    <div class="container">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        {% for msg in messages %}
            <script>
                $(document).ready(function() {
                    const message = "{{ msg }}";
                    const tags = "{{ msg.tags }}";
                    let swalType = "";

                    if (tags.includes("success")) {
                        swalType = "success";
                    } else if (tags.includes("info")) {
                        swalType = "info";
                    }

                    if (swalType) {
                        swal("Perfect", message, swalType).then(() => {
                            setTimeout(function() {
                                $(".swal-overlay").fadeOut(700, function() {
                                    $(this).remove();
                                });
                            }, 2000);
                        });
                    }
                });
            </script>
        {% endfor %}
        
        <div class="table-responsive mt-5">
            <table class="table table-bordered" id="example">
                <thead>
                    <tr>
                        <th scope="col" class="bg-info text-light text-center filter">Doctor Id</th>
                        <th scope="col" class="bg-info text-light text-center filter">Doctor Name</th>
                        <th scope="col" class="bg-info text-light text-center filter">Mobile</th>
                        <th scope="col" class="bg-info text-light text-center filter">Specialization</th>
                        <th scope="col" class="bg-info text-light text-center filter">Edit</th>
                        <th scope="col" class="bg-info text-light text-center filter">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doctor in doctors %}
                        <tr>
                            <td class="text-center">{{ doctor.id }}</td>
                            <td class="text-center">{{ doctor.full_name }}</td>
                            <td class="text-center">{{ doctor.mobile_number }}</td>
                            <td class="text-center">{{ doctor.secilization }}</td>
                            <td class="text-center">
                                <a href="{% url 'edit_doctor' doctor.id %}" class="btn btn-warning">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="#" class="btn btn-danger" title="DELETE" data-bs-toggle="modal" data-bs-target="#exampleModal{{ doctor.pk }}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>

                        <div class="modal fade" id="exampleModal{{ doctor.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-danger" id="deleteModalLabel"> 
                                        <i class="fas fa-trash-alt"></i>&nbsp; DELETE DOCTOR
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                    <div class="text-center text-danger">
                                        <i class="far fa-times-circle fa-5x mb-4 mt-2"></i>
                                    </div>
                                    <div class="text-center text-danger">
                                        <span class="fw-bolder">Are you sure that you want to delete this doctor?</span>
                                        <div class="text-dark mt-3 mb-2">
                                            DOCTOR: <strong>{{ doctor.full_name }}</strong>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">NO</button>
                                    <a href="{% url 'delete_doctor' doctor.id %}" class="btn btn-danger btn-sm">YES</a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}