{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    {% for msg in messages %}
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        {% if msg.tags == "error" %}
            <script>
                alertify.set('notifier', 'position', 'top-center');
                alertify.error("{{msg}}");
            </script>
        {% elif msg.tags == "success" %}
            <script>
                alertify.set('notifier', 'position', 'top-center');
                alertify.success("{{msg}}");
            </script>
        {% endif %}
    {% endfor %}

    <section id="home">
        <h1 class="fw-bolder">Manage Your Hospital with Ease</h1>
        <p class="">Our hospital management application helps organize and manage patient data, staff, and resources with high efficiency.</p>

        {% if user.is_authenticated %}
            <a href="{% url 'doctors' %}" class="btn btn-outline-info btn-lg rounded-5 text-light fw-bolder">Get Started</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-info btn-lg rounded-5 text-light fw-bolder">Get Started</a>
        {% endif %}
    </section>
{% endblock content %}