<nav class="navbar navbar-expand-lg bg-light navbar-dark">
    <div class="container">
      <a class="navbar-brand text-info fw-bolder" href="{% url 'home' %}">Hospital Mangament</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Doctors
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'add_doctor' %}">Add Doctor</a></li>
                  <li><a class="dropdown-item" href="{% url 'doctors' %}">View Doctors</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Patients
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'add_patient' %}">Add Patient</a></li>
                  <li><a class="dropdown-item" href="{% url 'patients' %}">View Patients</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Appointments
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'add_appointment' %}">Add Appointment</a></li>
                  <li><a class="dropdown-item" href="{% url 'appointments' %}">View Appointments</a></li>
                </ul>
              </li>
          {% endif %}
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-dark link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>

          {% if not user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active text-dark link" aria-current="page" href="{% url 'login' %}">Login</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active text-dark link" aria-current="page" href="{% url 'register' %}">Register</a>
              </li>
          {% endif %}
          
          {% if request.user.is_superuser %}
            <li class="nav-item">
              <a href="/admin/" class="nav-link text-dark link">Admin Panel</a>
            </li>
          {% endif %}

          {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link text-dark link">Logout</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>